<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>

<br>
		<br>
		<br>
<div class="container text-center">
	<h1>Admin Home</h1>
	<br>
	<br>
	<br>
	<h3><a th:href="@{/listProduct}">Add Stock</a></h3>
	<h3><a th:href="@{/product}">View Stock</a></h3>
	<h3><a th:href="@{/users}">View Users</a></h3>
	<h3><a th:href="@{/orders}">View Orders</a></h3>
	<h3><a th:href="@{/ratings}">View Product Ratings</a></h3>
</div>
</body>
</html>