<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/home_page}]]";
    }
</script>

	<style>
		#sidebar {
z-index: 1000;
position: absolute;
width: 20%;
padding: 10px;
margin: 0;
float: left
}

#mobile-filter ul {
   padding: 0;
   margin: 0;
   color: grey;
  background-color: transparent;
  text-decoration: none;
}
	</style>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div class="form-center">
		<form th:action="@{/home_page}">
			<input type="text" name="keyword" id="keyword" placeholder="Search for a Product..." size="25" th:value="${keyword}" required />
			<button class="btn btn-outline-success" type="submit">Search</button>
			<button class="btn btn-outline-success" type="submit" onclick="clearSearch()">Clear</button>
		</form>
	</div>
</div>
	<section id="sidebar">
		<div>
			<h2 class="p-1 border-bottom">Filter </h2>
			<h6 class="p-1 border-bottom">Price</h6>
			<ul class="list-group">
				<li class="list-group-item list-group-item-action mb-2 rounded">
					<a th:href="@{/home_page(sort='lowest')}" style="color: grey;">Lowest</a>
				</li>
				<li class="list-group-item list-group-item-action mb-2 rounded">
					<a th:href="@{/home_page(sort='highest')}" style="color: grey;">Highest</a>
				</li>
			</ul>
		</div>
		<div id="mobile-filter">
			<div>
				<h6 class="p-1 border-bottom">Category</h6>
				<ul>
					<li><a th:href="@{/home_page(sort=${sort}, category='Camera')}" style="color: grey;">Camera</a></li>
					<li><a th:href="@{/home_page(sort=${sort}, category='Phone')}" style="color: grey;">Phone</a></li>
					<li><a th:href="@{/home_page(sort=${sort}, category='Laptop')}" style="color: grey;">Laptop</a></li>
					<li><a th:href="@{/home_page(sort=${sort}, category='Accessory')}" style="color: grey;">Accessory</a></li>
				</ul>
			</div>
			<br>
			<button class="btn btn-outline-success" type="submit" style="max-width: 100px; margin: 0 auto" onclick="clearSearch()">Clear</button>
		</div>
	</section>

<div class="container text-center">
	<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
		<span th:text="${errorMessage}"></span>
	</div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
			<tr>
				<th>title</th>
				<th>category</th>
				<th>manufacturer</th>
				<th>&#8364; Price</th>
				<th>Stock Available</th>
				<th>Manage Product</th>


			</tr>
			</thead>
			<tbody>
			<tr th:each="item: ${listItems}">
				<td th:text="${item.title}">Name</td>
				<td th:text="${item.category}">Description</td>
				<td th:text="${item.manufacturer}">Manufacturer</td>
				<td th:text="${item.price}">Price</td>
				<td th:text="${item.stock}"></td>
				<td>
					<form th:action="@{/add_to_cart}" method="post">
						<input type="hidden" name="itemId" th:value="${item.itemId}" />
						<input type="number" name="quantity" min="1" th:max="${item.stock}" value="1" />
						<button type="submit" class="btn btn-primary mt-4" th:disabled="${item.stock <= 0}">Add to cart</button>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
<div class="container text-center">
	<a th:href="@{/cart}" class="btn btn-info">View Cart</a>
</div>
</body>
</html>